.wrapper {
  display: flex;
}

.wrapper__link:not(:last-child) {
  margin-right: 55px;
}

.wrapper__link {
  line-height: 25px;
}

.wrapper__link:hover {
  a {
    border-bottom: 3px solid #000;
  }
}

.link {
  color: #000;
}
