.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  h3 {
    font-size: 25px;
    font-weight: 700;
  }
}

.items {
  padding: 0 15px;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.desc {
  width: 120px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: burlywood;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}