.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 15px;
  margin-bottom: 50px;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
  width: 210px;
  cursor: pointer;
  transition: linear .3s;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.wrapper__info {
  margin-bottom: 10px;
  h2 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  span {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    opacity: 70%;
    margin-bottom: 15px;
  }
}
