.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
  width: 110px;
  cursor: pointer;
  transition: linear .3s;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.itemInfo {
  margin-bottom: 10px;
  h2 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  span {
    display: inline-block;
    opacity: 70%;
    margin-bottom: 15px;
  }
}
