.container {
  width: 1280px;
  padding: 0 15px;
  margin: 10px auto;
}

.header {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}

.actions {
  display: inline-block;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
  padding: 10px 5px;
  border-radius: 15px;
  height: 550px;
  width: auto;
  margin-right: 25px;
}

.pages {
  display: flex;
  flex-direction: column;
}